{% extends 'index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'transactionalFunction/css/create.css' %}">
{% endblock %}

{% block content %}
    <a href="{{request.META.HTTP_REFERER}}">Voltar</a>
<form method="post" id="form">
    {% csrf_token %}
        <table>
            <p id="error-message" class="error-field"></p>
            <tr>
                <td>
                    <p class="error-field" id="name-error"></p>
                </td>
            </tr>
            <tr>
                <td>Nome da funcionalidade</td>
                <td>{{ form.functionalityName }}</td>
            </tr>
            <tr>
                <td>
                    <p class="error-field" id="func-error"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="error-field" id="type-error"></p>
                </td>
            </tr>
            <tr>
                <td>Tipo da funcionalidade</td>
                <td>{{ form.functionalityType }}</td>
            </tr>
            <tr>
                <td>
                    <p class="error-field" id="alr-error"></p>
                </td>
            </tr>
            <tr>                
                <td>Quantidade de ALRs da função</td>
                <td>{{ form.qtdALR }}</td>
                <td>( Arquivos Lógicos Referenciados)</td>
            </tr>
            <tr>
                <td>
                    <p class="error-field" id="der-error"></p>
                </td>
            </tr>
            <tr>

                <td>Quantidade de DERs da função</td>
                <td>{{ form.qtdDER }}</td>
                <td>( Dados Elementares Referenciados)</td>
            </tr>
            <tr>
                <td>
                    <p class="error-field" id="count-error"></p>
                </td>
            </tr>
            <tr>
                <td>Nome do contador</td>
                <td>{{ form.countName }}</td>
            </tr>
            <tr>
                <td>
                    <p class="error-field" id="complexity-error"></p>
                </td>
            </tr>
            <tr>
                <td>Complexidade Transacional</td>
                <td>
                    <input type="text" id="id_complexity" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="error-field" id="points-error"></p>
                </td>
                </tr>
                <tr>
                    <td>Pontos por função</td>
                    <td>
                        <input type="text" id="id_points" readonly>
                    </td>
                </tr>
        </table>
    </div>
    <input type="submit" value="Salvar" id="btn-submit" onclick="validate(event)"/>
</form>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'transactionalFunction/js/validator.js' %}"></script>
{% endblock %}